
<!-- design nav here-->
<nav class="navbar">
    <ol>
        <li routerLinkActive="activeLink"><a routerLink="home" >HOME</a></li>
        <li routerLinkActive="activeLink"><a routerLink="bankaccounts">SHOW ACCOUNTS</a></li>
        <li routerLinkActive="activeLink"><a routerLink="customer" >SHOW CUSTOMERS</a></li>
        <li routerLinkActive="activeLink"><a routerLink="login">LOGIN</a></li>
        <li routerLinkActive="activeLink"><a routerLink="contact">CONTACT US</a></li>
    </ol>
</nav>